:root{
    --main-color: #006CB7;
}

*{
    font-family: 'Quicksand', sans-serif;
}

.bg-main{
    background-color: var(--main-color);
}

.text-main{
    color: var(--main-color);
}

.spacer{
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url("../imgs/svg1.svg");
}



.main-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    top: 0;
    position: sticky;
    z-index: 5;
    box-shadow: 0 2px 5px #00000052;;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.carousel-item h1{
    position: absolute;
    font-size: 64px;
    pointer-events: none;
}

.carousel-item h2{
    position: absolute;
    font-size: 55px;
    color: rgb(255, 133, 154);
    pointer-events: none;
}

.carousel-item.num1 h1{
    top: 40%;
    left: 40%;
    transform: translate(0, -50%);
}

.carousel-item.num1 h2{
    top: 55%;
    left: 40%;
    transform: translate(0, -50%);
}

.carousel-item.num2 h1{
    top: 35%;
    left: 35%;
    transform: translate(-50%, 0);
}

.carousel-item.num2 h2{
    top: 55%;
    left: 33%;
    transform: translate(-50%, 0);
}

.feutures{
    padding: 30px 0;
    background-color: #f7f7f7;
}
.feutures .text{
    justify-content: center;
    flex-direction: column;
}

.bundels{
    padding: 50px;
    background-color: var(--main-color);
}

.heading::after{
    content: "";
    position: absolute;
    bottom: -50px;
    right: 50%;
    transform: translate(50%);
    width: 75px;
    height: 34px;
}

.white::after{
    background-image: url("../imgs/icon.webp");
}

.color::after{
    background-image: url("../imgs/heading_img.png");
}

.bundels .img{
    width: 100%;
    height: 200px;
    background-image: url("../imgs/bundle.png");
    background-position: center;
    background-size: cover;
    border-bottom: 2px var(--main-color) solid;
}

.bundels .card{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.bundels ul li i{
    color: lime;
}

.products{
    padding: 20px 0 50px;
}

.products img{
    border-bottom: 1px solid rgb(196, 196, 196);
}

.products .row > div > div{
    box-shadow: 0 0 10px #7e7e7e23;
}

.products i{
    color: gold;
}

.reviews{
    padding: 50px 0;
}

.reviews .carousel-item {
    height: auto;
    padding: 40px 150px 20px;
    text-align: center;

}

.reviews .carousel-item div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
/* 
.carousel-item h4{
    max-width: 400px;
    margin: auto;
} */

.offer{
    padding: 50px 0;
}

.offer form{
    width: 70%;
    /* display: flex;
    flex-direction: row; */
}

.offer input{
    background: transparent;
    border: none;
    border-bottom: 1px rgb(197, 197, 197) solid;
    padding: 10px;
    font-size: 20px;
    flex: 1;
}

.offer input::placeholder{
    color: rgb(197, 197, 197);
}

.offer input:focus{
    outline: none;
}