:root{
    --main-color: #006CB7;
}

*{
    font-family: 'Quicksand', sans-serif;
}

.bg-main{
    background-color: var(--main-color);
}

.text-main{
    color: var(--main-color);
}

.spacer{
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url("../imgs/svg1.svg");
}

.layer2{
    background-image: url("../imgs/svg2.svg");
}

.layer3{
    background-image: url("../imgs/svg3.svg");
}

.main-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    top: 0;
    position: sticky;
    z-index: 5;
    box-shadow: 0 2px 5px #00000052;;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.carousel-item h1{
    position: absolute;
    font-size: 64px;
    pointer-events: none;
}

.carousel-item h2{
    position: absolute;
    font-size: 55px;
    color: rgb(255, 133, 154);
    pointer-events: none;
}

.carousel-item.num1 h1{
    top: 40%;
    left: 40%;
    transform: translate(0, -50%);
}

.carousel-item.num1 h2{
    top: 55%;
    left: 40%;
    transform: translate(0, -50%);
}

.carousel-item.num2 h1{
    top: 35%;
    left: 35%;
    transform: translate(-50%, 0);
}

.carousel-item.num2 h2{
    top: 55%;
    left: 33%;
    transform: translate(-50%, 0);
}

.feutures{
    padding: 30px 0;
    background-color: #f7f7f7;
    overflow: hidden;
}
.feutures .text{
    justify-content: center;
    flex-direction: column;
}

.bundels{
    padding: 50px;
    background-color: var(--main-color);
    overflow: hidden;

}

.heading::after{
    content: "";
    position: absolute;
    bottom: -50px;
    right: 50%;
    transform: translate(50%);
    width: 75px;
    height: 34px;
}

.white::after{
    background-image: url("../imgs/icon.webp");
}

.color::after{
    background-image: url("../imgs/heading_img.png");
}
/* 
.bundels .img{
    width: 100%;
    height: 200px;
    background-image: url("../imgs/bundle.png");
    background-position: center;
    background-size: cover;
    border-bottom: 2px var(--main-color) solid;
}

.bundels .card{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.bundels ul li i{
    color: lime;
} */

.products{
    padding: 20px 0 50px;
}

.products img{
    border-bottom: 1px solid rgb(196, 196, 196);
}

.products .row > div > div{
    box-shadow: 0 0 10px #7e7e7e23;
}

.products i,
.product-page i{
    color: gold;
}

.reviews{
    padding: 50px 0;
}

.reviews .carousel-item {
    height: auto;
    padding: 40px 150px 20px;
    text-align: center;

}

.reviews .carousel-item div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
/* 
.carousel-item h4{
    max-width: 400px;
    margin: auto;
} */

.offer{
    padding: 50px 0;
}

.offer form{
    width: 70%;
    /* display: flex;
    flex-direction: row; */
}

.offer input{
    background: transparent;
    border: none;
    border-bottom: 1px rgb(197, 197, 197) solid;
    padding: 10px;
    font-size: 20px;
    flex: 1;
}

.offer input::placeholder{
    color: rgb(197, 197, 197);
}

.offer input:focus{
    outline: none;
}

footer{
    padding: 50px 0 20px;
}

footer ul{
    list-style: none;
    padding-left: 5px;
}

footer ul li{
    margin: 0;
}

.products a{
    text-decoration: none;
}

.alert{
    top: 100px;
    width: 95%;
    margin: auto;
}
a{
    text-decoration: none;
}

.checkout .products,
.checkout .data-check{
    border: 1px solid rgba(119, 119, 119, 0.356);
    border-radius: 10px;
    box-shadow: rgb(119 119 119 / 36%) 2px 2px 3px;
    padding: 20px;
}

.checkout{
    padding: 20px 0 20px;

}

.checkout .card-body{
    height: 100%;
}

.checkout img{
    width: 200px;
}

.checkout .col-md-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bundels .card{
    transition: 1s;
}

.bundels .card:hover{
    transform: scale(2);
}

.products .img-con{
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.products .img-con:hover::before{
    left: 0;
}

.products .img-con::before{
    content: "";
    background-image: url("../imgs/product3.webp");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
}

.feutures img{
    border: 5px var(--main-color) solid;
}

.bundels .card{
    border-radius: 20px;
    border: 3px #77777740 solid;
}

.bundels .card a{
    border-radius: 20px;
}

.products .col-lg-3{
    box-shadow: 0 0 0 black;
}

.no2{
    padding: 0px;
}

.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.data-check .payment span{
    border-radius: 10px;
    border: 1px solid #777;
    cursor: pointer;
    transition: 0.3s;
}

.data-check .payment span i{
    pointer-events: none;
}

.data-check .payment .active{
    border: 3px solid var(--main-color);

}

.main-nav input{
    border-radius: 10px 0 0 10px;
}

.main-nav button{
    border-radius: 0 10px 10px 0;
}

.main-nav button:hover{
    color: white !important;
    background-color: var(--main-color) !important;
}

.receipt .receipt-content{
    border-radius: 10px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(119 119 119 / 36%) 2px 2px 3px;
    border: 1px solid rgba(119, 119, 119, 0.356);
}

.scroll-top{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    box-shadow: 0 0 5px #00000052;
    z-index: 10000;
}

.scroll-top.active{
    opacity: 1;
    bottom: 20px;
    pointer-events: auto;
}

.scroll-top:hover{
    color: white;
}


